.column {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
}

.row {
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
}

.left {
  height: 333px;
}

.right {
  font-size: 3.5px
}
