.row {
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
}

.left {
  height: 1000px;
}

.column {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
}
